html,body{
    width: auto;
    height: auto;
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
#serialInput[type=serial]{
    width: 100%;
    height: 5%;
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 1.5%;
    font-size: larger;
    border-radius:10px;
    border: 2px solid   #1a3584;
}
#serialInput[type=serial]:focus{
    border: 2px solid   #152a6a;
}
.column {
    float: left;
    width: 15%;
    padding: 5px;
}
.column2 {
    float: left;
    width: 45%;
    padding: 5px;
    margin-left: 30px;
  }
  .column3{
    float: right;
    width: 21%;
    padding: 0px;
}
.card{
    height: 8%;
    top: 8%;
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    position: absolute;
    background-color: #1a3584;
}

p{
    color: white;
    font-size: large;
}
#productList{
    background-color: white;
    height: 69%;
    top: 16%;
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
}
#discount{
    color: #4aa6a9;
    font-size: large;
    line-height: 5px;
    font-weight: bold;
}
#total{
    color: white;
    line-height: 5px;
    font-size: 25px;
}
.card2{
    height: 15%;
    bottom: 0%;
    width: 100%;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    position: absolute;
    background-color: #1a3584;
}

#submitBtn{
    background-color:  #4373c4    ;
    padding: 2%;
    width: 10%;
    height: 10%;
    border-radius:10px ;
    bottom: 2.5%;
    line-height: 3px;
    right: 2.5%;
    border: none;
    font-size: larger;
    color: white;
    position: absolute;
}
#submitBtn:hover{
    background-color:  #3d6ec2    ;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #1a3584;
    border-radius: 10px;
}
product{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}
product p{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    font-size: larger;
    color: black;
}
price,quantity{
    height: 100%;
    width: 20%;
    top:30%;
    font-size:large;
    position:relative
}

counter{
 color:gray;
    width:2.5%;
    left:1%;
    top:20%;
    position:absolute;
}
productName{
 width:42%;
    font-size:larger;
    top:17%;
    left:3%;
    position:relative;
}
deleteBtn{
   color:white;
    background-color:#4373c4;
    width:5%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    left:1%;
    top:10%;
    bottom:10%;
    border-radius:10px;
    position:relative;
}
deleteBtn:hover{
    background-color:  #3d6ec2    ;
}
price{
    left:4.5%
}
quantity{

}
discount,total{
 position:absolute;
    height:50%;
    right:16%
}
discount{
        bottom:0%;
    color:gray;

}
total{
    right:17%;
    top:0%;
}
